### Data Acquisition

In [23]:
# installations (be careful!!!)
#!pip install missingno

### THIS WAS ALREADY HERE

In [24]:
# all modules
import warnings
import pandas as pd
from zipfile import ZipFile

In [25]:
# global stuff

warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_rows', 13)
pd.set_option('display.max_columns', 13)

In [26]:
# load sql extension for jupyter
%load_ext sql
%config SqlMagic.autocommit = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
# load database
%sql sqlite:///../data/raw/raw_data_project_m1.db

In [14]:
%%sql tables_structure <<

select * 
from 
    sqlite_master

where 
    type='table' AND
    name NOT LIKE 'sqlite_%'

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable tables_structure

In [17]:
#Show whats in the DB
tables_structure.DataFrame()

## COMENTARIOS DE EXPLORACIÓN DBeaver:
##    - No están conectactas pero tienen en común el campo uuid que es un hash

,type,name,tbl_name,rootpage,sql
0,table,personal_info,personal_info,2,CREATE TABLE personal_info (\n\tuuid TEXT NOT ...
1,table,country_info,country_info,401,CREATE TABLE country_info (\n\tuuid TEXT NOT N...
2,table,career_info,career_info,762,CREATE TABLE career_info (\n\tuuid TEXT NOT NU...
3,table,poll_info,poll_info,1168,CREATE TABLE poll_info (\n\tuuid TEXT NOT NULL...

### 1_ DF PESONAL_INFO

In [21]:
%%sql personal_info <<

select * from personal_info;

 * sqlite:///../data/raw/raw_data_project_m1.db
Done.
Returning data to local variable personal_info

In [22]:
df_personal_info = personal_info.DataFrame()
df_personal_info.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [31]:
# Basic Information
df_personal_info.shape

(9649, 5)

In [29]:
df_personal_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              9649 non-null   object
 1   age               9649 non-null   object
 2   gender            9649 non-null   object
 3   dem_has_children  9649 non-null   object
 4   age_group         9649 non-null   object
dtypes: object(5)
memory usage: 377.0+ KB