# Data Wrangling

In [1]:
# all modules

import warnings
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# global stuff

warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_rows', 13)
pd.set_option('display.max_columns', 13)

## OPENING CLEANED TABLES

In [3]:
df_personal_info = pd.read_csv('../data/processed/personal_info.csv', index_col=[0])
df_career_info = pd.read_csv('../data/processed/career_info.csv', index_col=[0])
df_country_info = pd.read_csv('../data/processed/country_info.csv', index_col=[0])

In [4]:
df_personal_info.head(2)

,uuid,age,gender,dem_has_children,age_group,gender_Female,gender_Male,ageGroup_14_25,ageGroup_26_39,ageGroup_40_65,ageGroup_juvenile
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,M,False,40_65,False,True,False,False,True,False
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,M,True,40_65,False,True,False,False,True,False

In [5]:
df_career_info.head(2)

,uuid,dem_full_time_job,High_Ed,Low_Ed,Medium_Ed,No_Ed,Unknown_Ed
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,False,False,False,False,True,False
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,True,True,False,False,False,False

In [6]:
df_country_info.head(2)

,uuid,country_code,rural_context,urban_context
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,True,False
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,False,True

# WEB SCRAPPING

In [7]:
def get_dictEuropeanCountries():
    wiki_url= 'https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'
    url= 'https://www.euro.who.int/en/countries'
    
    html_wikipage = requests.get(wiki_url).content
    html_eurocountries = requests.get(url).content
        
    countries_list = pd.read_html(html_wikipage, header=0)[2]
    countries_dict = dict(zip(countries_list['Code'], countries_list['Country name (using title case)']))

    soup = BeautifulSoup(html_eurocountries, 'lxml')
    table = soup.find_all('section', {'class':'clearfix'})

    all_contries = [content.text for content in table]
    eu_countries = list(filter(None, all_contries[0].split('\n')))

    european_countries_values = [val for k,val in countries_dict.items() for eu_c in eu_countries if val == eu_c]
    european_countries_key = [k for k,val in countries_dict.items() for eu_c in eu_countries if val == eu_c]

    return dict(zip(european_countries_key, european_countries_values))

In [8]:
european_countries = get_dictEuropeanCountries()

# CHANGING COL IN COUNTRIES

In [ ]:
def countryCode_to_countryName(serie):
    # CAMBIAR SEGÚN DICCIONARIO DE EUROPEAN COUNTRIES
    """
    INPUT  ->      AT      FR     ES  -> alpha_2 code
    OUTPUT -> Austria  France  Spain  -> full name
    --------------------------------------------------------------------------------
    Note: countries_code_alpha_2 is a dict from get_dictCountries()
    """

    country_dictionary = get_dictEuropeanCountries()
    
    return serie.apply(lambda x: country_dictionary[str(x)]) # Esto se puede hacer en la API

In [ ]:
def add_col_to_df(df, )

In [ ]:
df_country_info['country_Names'] = countryCode_to_countryName(serie= df_country_info['country_code'])